/*--- Layout ---*/

html {
    background: url("../img/pattern.png") no-repeat center ;
    background-size: cover;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    flex: auto;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}

a{
    text-decoration: none;
    padding: 5px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    font-size: 18px;
}

/*--- Header ---*/

.header{
    display: flex;
    width: 100%;
    max-width: 960px;
    min-width: 430px;
    margin: 0 auto 0;
    display: flex;
    justify-content: space-between;
    background: #B26B93;
    font-family: 'Pacifico', cursive;
    font-size: 20px;
    box-shadow: 0px 5px 15px #353535;
}

.header h1 {
    color: #fff;
    padding-right: 15px;
    margin-bottom: 10px;
}

a{
    color: #fff;
    padding: 0 15px;
    font-size: 40px;
}

.header-section {
    display: flex;
    align-items: center;
    vertical-align: middle;
}

    a:hover {
    color: #4F1737;
}

/*--- Footer ---*/

footer {
    text-align: center;
    background: #B26B93;
    max-width: 960px;
    min-width: 430px;
    margin: auto;
    width: 100%;
    box-sizing: border-box;
    box-shadow: 0px 5px 15px #353535;
    margin-bottom: -1px;
}  

.copyright > p {
    margin: 18px 0;
}

/*--- Galery ---*/

main {
    display: flex;
     width: 100%;
    max-width:  960px;
    min-width: 430px;
    margin: auto;
    flex: auto;
    box-sizing: border-box;
    background: #fff;
    box-shadow: 0px 5px 15px #353535;    
}

.wrap {
    display: flex;
    align-items: stretch;
    width: 90%;
    margin: auto;
    flex-direction: row;
}

button {
    width: 30px;
    border: none;
    background: transparent;
    color: #000;
    font-size: 55px;
    text-align: center;
    outline: none;
    opacity: 0.4;
    transition: opacity 300ms ease-out;
}

button:hover {
    opacity: 1;
}

.slider {
    display: flex;
    flex-direction: row;
}

.scroller {
    flex: 1;
    overflow: hidden;
}

.items {
    list-style-type: none;
    white-space: nowrap;
    transition: transform .5s ease-in-out;
}

.item {
    padding: 30px 20px;
    display: inline-block;
    width: 100%;
    height: 500px;
    background-size: cover;
    background-position: 50% 50%;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, .5);
}

/*--- Adaptive ---*/

@media screen  and (max-width: 800px) {

    p {
        font-size: 16px;
    }

    .item {
        height: 400px;
    }
}

@media screen  and (max-width: 600px) {
   
    .header a{
        font-size: 20px;
    }
   
    p {
        font-size: 16px;
    }

    .item {
        height: 300px;
    }
}